<!DOCTYPE html>
{% extends 'home/base.html'%}
{% load staticfiles %}
{% block title %}
Member Status
{% endblock %}

{% block body %}
<div class="row text-center">
	<div class="col-12">
		<button id='scan_for_user'
			 class="btn btn-primary">SCAN</button>
		<button id="search_for_user" 
			class="btn btn-secondary">SEARCH</button>
	</div>
	<div class="col-10 offset-1" id="subs_root"></div>
</div>



<br/>
<div id="search_root"></div>
<div class="row">
	<div class="col-12 text-center">
		<button style="display: none;" id="snapshot">
			HIDE ME
		</button>
		<br>
		<!-- Video Element == Users camera -->
		<video></video>
		<div id="controls">
			<button id="start" class="btn btn-success">Start</button>
			<button id="stop" class="btn btn-danger">Stop</button>
		</div>
	</div>
	<!-- Image from Camera -->
	<!-- <img id="image" src="" width="640" height="360"/>  -->
</div>

<div class='row'>
	<div class='col-12 text-center'>
		<h3 id='qr_result'></h3>
	</div>
</div>


<!-- React User panel -->

<script  src="{% static 'home/js/ajax_helper.js' %}"></script>

<script type="text/babel" src="{% static 'home/js/user_panel_react.js' %}"></script>


<script type="text/babel"
	src="{% static 'home/js/user_list_react.js' %}"></script>


<script type="text/babel">

function decodeQRCodeToPK(qr_code){
	if(qr_code != "False"){
		let pairs = qr_code.split(',');
		let pk = pairs[pairs.length-1].split(':')[1];
		return pk;
	}
}


function getSubscriptions(pk){
	getData(`/api/stripe_subscriptions/${pk}/0/0/canceled/`)
	.then((data) => {
		console.log(`data: ${data}`);
		if(data != "False"){
			let root = document.getElementById('subs_root');
			ReactDOM.unmountComponentAtNode(root);
			console.log(data);
			ReactDOM.render(<SubscriptionItemList subs = {data}
								user ={pk}/>, root);
		}else if(data == "False"){
			alert("No subscriptions found for member!");
		}
	})
	.catch((err) => {
		console.error(`%c Search User Error: ${err}`, "color: red;");
	});

}
</script>


<script type="text/javascript" src="{% static "home/js/webcam.js" %}"></script>

<script type="text/babel">

function SubscriptionItem(props){
		let spinnerId  = `spinner_${props.id}`;
		return(
			<tbody className="table-hover">
				<tr className="table-danger">
					<td>
						<span className="d-inline-block text-truncate">{props.start}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.id}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.username}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.name}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.canceled_at}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.desc}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.price}</span>
					</td>
					<td>
						<span className="d-inline-block text-truncate">{props.interval}</span>
					</td>
				</tr>
			</tbody>
		);
	}

	class SubscriptionItemList extends React.Component{
		constructor(props){
			super(props);
			this.state = {
				subs: props.subs
			};
		}

		componentDidMount(){
			console.log("hello");
			let d = $('input[id="_datepicker"]'); 
			d.daterangepicker({
				opens: 'left'
			}, (start, end, label) => {
				console.log("A new date selection was made: " + start + ' to ' + end.format('YYYY-MM-DD'));
				this.updateData(start,end);

			});
		}


		updateData(start, end){
			console.log("updateData");
			getData(`/api/stripe_subscriptions/${this.props.user}/${start}/${end}/canceled/`)
			.then((data) => {
				console.log(data);
				if(data != "False"){
					console.log("Setting updated data");
					this.setState({
						subs: data
					});
				}else{
					console.log("No charges found for member!");
				}
			});
		}


		render(){
			let items = this.state.subs;
			let key_index = 0;
			return(
				<table className="table table-responsive text-center table-bordered table-sm" key="-0" align="center">
				<thead className="thead-dark" key="-1">
				<tr key="-2">
					<th> Created<br/>
						<input id="_datepicker"  
						 className="text-center" type="text"/>
					</th>
					<th> Sub Id </th>
					<th> Username </th>
					<th> Name </th>
					<th> Canceled </th>
					<th> Desc </th>
					<th> Price </th>
					<th> Stripe Interval </th>
				</tr>
				</thead>
				{
				items.map((el) => {					
					return(
						<SubscriptionItem key = {key_index++}
							id = {el.id} 
							username = {el.username}
							created = {el.created}
							start = {el.start}
							canceled_at = {el.canceled_at}
							amount = {el.amount}
							nickname = {el.nickname}
							interval = {el.interval}
							name = {el.products.name}
							desc = {el.products.desc}
							price = {el.products.price} 
							onclick = {this.cancelSubscription} />
					)
				})
				}
				</table>
			);
		}
	}

</script>

<script type="text/javascript">


let videoElement = document.querySelector('video'); 
let websocketPath = '/ws/home/scan/';
let snapshotBtn = document.querySelector("#snapshot");
let startCameraButton =  document.querySelector('#start');
let stopCameraButton =  document.querySelector('#stop');
// startCameraButton.hidden = true;

let socket = createSocket(websocketPath, onMessageCallback);
let scanner = null;
let autoStart = true;

socket.onopen = () => {
	scanner = new Scanner(socket, videoElement, autoStart);
	scanner.getUserWebcam();	
	document.querySelector('video').style.border = "5px solid green";
};
socket.onclose = () => {
	console.log("Closed socket");
	document.querySelector('video').style.border = "5px solid red";
};


// video-start
startCameraButton.addEventListener('click', (ev) => {
	if(scanner.socketIsNull()){
		// if scanner has been closed, recreate a socket
		let tmp_sock = createSocket(websocketPath, onMessageCallback);
		tmp_sock.onopen = () =>{
			scanner.setSocket(tmp_sock);
			scanner.getUserWebcam();
			document.querySelector('video').style.border = "5px solid green";
		};
		tmp_sock.onclose = () => {
			document.querySelector('video').style.border = "5px solid red";
		};
	}
	
	// Get user media
	
});

stopCameraButton.addEventListener('click', (ev) => {
	if(scanner){
		scanner.close();
	}
});


// snapshot button to take snape shot
snapshotBtn.addEventListener('click', (ev) => {
	if(scanner){
		scanner.getImage();
	}
});





function onMessageCallback(e){
	// console.log(e.data);
	if(e.data=="False"){
		// console.log("No Code Found");
		setTimeout(()=>{
			scanner.getImage();
			console.log("scanning...");
		}, 200);
	}else{;
		// scanner.close();
		document.getElementById('qr_result').innerText = e.data;
		let pk = decodeQRCodeToPK(e.data);
		getSubscriptions(pk);

		setTimeout(()=>{
			scanner.getImage();
		}, 1500);
	}
		


}


let scan_for_user = document.querySelector("#scan_for_user");
scan_for_user.addEventListener("click", (ev) => {
	
	hideSearch();

	
	document.querySelector("#start").style.display = "-webkit-inline-box";
	document.querySelector("#stop").style.display = "-webkit-inline-box";
	document.querySelector("video").style.display = "-webkit-inline-box";
	// start scanner
	if(scanner.streamIsNull()){
		startCameraButton.click();
	}	
});


let search_for_user = document.querySelector("#search_for_user");
search_for_user.addEventListener("click", (ev) => {
	hideScanner();

	loadUserList("search_root", (id) => { 
		console.log(`USer search id: ${id}`);
		getSubscriptions(id);
	});
		
});




function hideScanner(){
	document.querySelector("#start").style.display = "none";
	document.querySelector("#stop").style.display = "none";
	document.querySelector("video").style.display = "none";
	console.log("Hiding Scanner");
	if(!scanner.streamIsNull()){
		scanner.close();
	}
}

function hideSearch(){
	let root = document.querySelector("#search_root");
	ReactDOM.unmountComponentAtNode(root);
}

</script>






{% endblock %}
