{% extends 'home/base.html'%}
{% load staticfiles %}
{% block title %}
Products
{% endblock %}

<!-- Search for clients or populate with client from another page -->
<!-- uses React Component user_panel_react::UserPanel -->

{% block body %}

<div class="row text-center">
	<div class="col-9">
		<h1> Products </h1>
		<div id='root'></div>
	</div>
	<div class="col-3">
		<h1>Cart</h1>
		<div id="cartRoot" class="cart"></div>
	</div>
</div>


<script  src="{% static 'home/js/ajax_helper.js' %}" ></script>

<script  src="/lib/react_product_cart.js"></script>
<script  src="/lib/product_list.js"></script>

<script type="text/javascript">
// window.localStorage
// add items to localStorage
// set on change listener, when local storage is cahnged, load react component to render items in local storage



/////////////////////
// RENDER REACT COMPONENETS
///////////////////////
// product list

// get data, then display products, and cart will have reference to product list
getData("/api/gym_products/").then((data)=>{
	renderProductList("root", data);
	renderCart("cartRoot", data);
});	


</script>

{% endblock %}
	