{% extends 'home/base.html'%}
{% load staticfiles %}
{% block title %}
Product Payment
{% endblock %}

{% block body %}


<!-- Modal -->
<div class="modal fade" id="paymentSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Modal title</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <a href="{% url 'home:gym_products'  %}" id="modal-gohome" class="btn btn-primary">Back to Products</a>
      </div>
    </div>
  </div>
</div>

<button type="button" id="paymentSuccessModal" style="display: none;" data-toggle="modal" data-target="#paymentSuccess"></button>



<div class="row text-center">
	<div class="col-10 offset-1">
		<h1> Cart </h1>
		<div id="cart"></div>
		<div id="cartTotal"></div>
		<button id="make_payment" style="display: none;" class="form-control btn btn-outline-success">PAY</button>
		<div id='root'></div>
	</div>
</div>


<br/>

<div class="row">
	<div class="col-12 text-center">
		<button style="display: none;" id="snapshot">
			HIDE ME
		</button>
		<br>
		<!-- Video Element == Users camera -->
		<video></video>
		<div id="controls">
			<button id="start" class="btn btn-success">Start</button>
			<button id="stop" class="btn btn-danger">Stop</button>
		</div>
	</div>
	<!-- Image from Camera -->
	<!-- <img id="image" src="" width="640" height="360"/>  -->
</div>

<div class='row'>
	<div class='col-12 text-center'>
		<h3 id='qr_result'></h3>
	</div>
</div>


<!-- React User panel -->

<script src="{% static 'home/js/ajax_helper.js' %}"></script>
<script src="/lib/user_panel_react.js"></script>
<script src="{% static 'home/js/webcam.js' %}"></script>

<script>
function ProductDisplayTemplate({name, price, qty, subtotal}){
	return `${name} $${price}ea (${qty}) $${fmtNumber(subtotal)}`;
}
// [{'subtotal': 7.98, 'product_name': 'sport drink', 'product_price':  3.99, 'pk': 1, 'qty': '2'}
let cartData = [];
let cartTotal = 0;

function initCartData(){
	// holds {pk: qty}
	let selectedItems = new Map(JSON.parse(window.localStorage.getItem("productCart")));
	let items = null;
	let cartDiv = document.querySelector("#cart");
	let tmpcartTotal = 0;
	// get product data from a set of primary keys
	postData("/api/gym_products/pks/", {"pks": Array.from(selectedItems.keys())})
	.then((data)=>{
		// 
		cartData = data.map((item)=>{
			let tmpQty = selectedItems.get(item.id);
			item.qty = tmpQty;
			item.subtotal = parseFloat(tmpQty) * parseFloat(item.price);
			tmpcartTotal += parseFloat(item.subtotal);
			cartDiv.innerHTML += ProductDisplayTemplate(item) + "</br>";
			return {
				"pk": item.id,
				"subtotal": item.subtotal,
				"qty": tmpQty,
				"product_name": item.name,
				"product_price": item.price
			};
		});

		document.querySelector("#cartTotal").innerHTML = `<h2>Total: $${fmtNumber(tmpcartTotal)}</h2>`;
		cartTotal = tmpcartTotal;
	});
}

function onMessageCallback(e){
	// console.log(e.data);
	if(e.data=="False"){
		// console.log("No Code Found");
		setTimeout(()=>{
			scanner.getImage();
			console.log("scanning...");
		}, 200);
	}else{;
		// scanner.close();
		document.querySelector('#qr_result').innerText = e.data;
		showUserPayment(e);

		setTimeout(()=>{
			scanner.getImage();
		}, 1500);
	}
}




let videoElement = document.querySelector('video'); 
let websocketPath = '/ws/home/scan/';
let snapshotBtn = document.querySelector("#snapshot");
let startCameraButton =  document.querySelector('#start');
let stopCameraButton =  document.querySelector('#stop');
// startCameraButton.hidden = true;

let socket = createSocket(websocketPath, onMessageCallback);
let scanner = null;
let autoStart = true;

socket.onopen = () => {
	scanner = new Scanner(socket, videoElement, autoStart);
	scanner.getUserWebcam();	
	document.querySelector('video').style.border = "5px solid green";
};
socket.onclose = () => {
	console.log("Closed socket");
	document.querySelector('video').style.border = "5px solid red";
};


// video-start
startCameraButton.addEventListener('click', (ev) => {
	if(scanner.socketIsNull()){
		// if scanner has been closed, recreate a socket
		let tmp_sock = createSocket(websocketPath, onMessageCallback);
		tmp_sock.onopen = () =>{
			scanner.setSocket(tmp_sock);
			scanner.getUserWebcam();
			document.querySelector('video').style.border = "5px solid green";
		};
		tmp_sock.onclose = () => {
			document.querySelector('video').style.border = "5px solid red";
		};
	}
	
	// Get user media
	
});

stopCameraButton.addEventListener('click', (ev) => {
	if(scanner){
		scanner.close();
	}
});


// snapshot button to take snape shot
snapshotBtn.addEventListener('click', (ev) => {
	if(scanner){
		scanner.getImage();
	}
});




function testPayment(pk){
	let default_user = {"data":`location:turlock,gym:19,id:${pk}`};
	showUserPayment(default_user);	
}

function showUserPayment(qr_code){
		console.log(qr_code);
		showPanel(document.querySelector("#root"), decodeQRCodeToPK(qr_code.data));
		
		// show PAY button
		let button = document.querySelector('#make_payment');
		button.style.display = "block";		

		// PAY button
		button.addEventListener("click", (ev) => {
			// users pk from qr code (purchaser)
			let pk = decodeQRCodeToPK(qr_code.data);
			console.log("Payment started");
			// get current cart data from localStorage
			if(cartData.length > 1){
				let purchaseData = {"userpk":pk, "cart": [cartData, cartTotal]};
				// Hide button once clicked
				document.getElementById('make_payment').style.display = "none";
				// send data to server to make stripe charge for user
				console.log("Making payment");
				postData("/api/make_product_payment/", purchaseData)
				.then((data) => {
					console.log("data make_product_payment");
					console.log(data);
					if(data == 'PaymentSuccessful'){
						//show modal
						console.log("showing modal...");
						document.getElementById('modal-title').innerText = "Success";
						document.getElementById('modal-body').innerText = "Payment was successful!";

						window.localStorage.removeItem(LOCAL_STOR_PRODUCT);
						document.getElementById('paymentSuccessModal').click();
						
						
					}else{
						// show error response
						console.log("showing error...");
						alert(data);
					}
				})
				.catch((err)=>{
					console.log("error");
					console.error(err);
				});
			}
		});
}

// Defining the callback with arrow functions allows it to have the scame scope as varaiable created in the page's script.

initCartData();
if(scanner.streamIsNull()){
	startCameraButton.click();
	
}	
</script>




{% endblock %}