<!DOCTYPE html>
{% extends 'home/base.html'%}
{% load staticfiles %}
{% block title %}
Check-in
{% endblock %}

{% block body %}
<div class="row text-center">
	<div class="col-12">
		<button id='scan_for_user'
			 class="btn btn-outline-primary">SCAN</button>
		<button id="search_for_user" 
			class="btn btn-outline-secondary">SEARCH</button>
	</div>
</div>

<br/>
<div id="search_root"></div>
<div class="row">
	<div class="col-12 text-center">
		<button style="display: none;" id="snapshot">
			HIDE ME
		</button>
		<br>
		<!-- Video Element == Users camera -->
		<video></video>
		<div id="controls">
			<button id="start" class="btn btn-outline-success">Start</button>
			<button id="stop" class="btn btn-outline-danger">Stop</button>
		</div>
	</div>
	<!-- Image from Camera -->
	<!-- <img id="image" src="" width="640" height="360"/>  -->
</div>

<div class='row'>
	<div class='col-12 text-center'>
		<h3 id='qr_result'></h3>
		<div id="root"></div>
	</div>
</div>


<!-- React User panel -->
<script type="text/javascript">

	function decodeQRCodeToPK(qr_code){
		if(qr_code != "False"){
			let pairs = qr_code.split(',');
			let pk = pairs[pairs.length-1].split(':')[1];
			return pk;
		}
	}

	
</script>

<script  src="{% static 'home/js/ajax_helper.js' %}"></script>

<script src="/lib/user_panel_react.js"></script>
<script src="/lib/user_list_react.js"></script>




<script type="text/javascript" src="{% static "home/js/webcam.js" %}"></script>
<script type="text/javascript">

let videoElement = document.querySelector('video'); 
let websocketPath = '/ws/home/scan/';
let snapshotBtn = document.querySelector("#snapshot");
let startCameraButton =  document.querySelector('#start');
let stopCameraButton =  document.querySelector('#stop');
// startCameraButton.hidden = true;

let socket = createSocket(websocketPath, onMessageCallback);
let scanner = null;
let autoStart = true;

socket.onopen = () => {
	scanner = new Scanner(socket, videoElement, autoStart);
	scanner.getUserWebcam();	
	document.querySelector('video').style.border = "5px solid green";
};
socket.onclose = () => {
	console.log("Closed socket");
	document.querySelector('video').style.border = "5px solid red";
};

// video-start
startCameraButton.addEventListener('click', (ev) => {
	if(scanner.socketIsNull()){
		// if scanner has been closed, recreate a socket
		let tmp_sock = createSocket(websocketPath, onMessageCallback);
		tmp_sock.onopen = () =>{
			scanner.setSocket(tmp_sock);
			scanner.getUserWebcam();
			document.querySelector('video').style.border = "5px solid green";
		};
		tmp_sock.onclose = () => {
			document.querySelector('video').style.border = "5px solid red";
		};
	}
	
	// Get user media
	
});

stopCameraButton.addEventListener('click', (ev) => {
	if(scanner){
		scanner.close();
	}
});

// snapshot button to take snape shot
snapshotBtn.addEventListener('click', (ev) => {
	if(scanner){
		scanner.getImage();
	}
});

function onMessageCallback(e){
	// console.log(e.data);
	if(e.data=="False"){
		// console.log("No Code Found");
		setTimeout(()=>{
			scanner.getImage();
			console.log("scanning...");
		}, 200);
	}else{;
		// scanner.close();
		document.getElementById('qr_result').innerText = e.data;
		showPanel(document.querySelector("#root"), decodeQRCodeToPK(e.data));
		
		setTimeout(()=>{
			scanner.getImage();
		}, 1500);
	}
}


let scan_for_user = document.querySelector("#scan_for_user");
scan_for_user.addEventListener("click", (ev) => {
	
	hideSearch(document.querySelector("#search_root"));

	
	document.querySelector("#start").style.display = "-webkit-inline-box";
	document.querySelector("#stop").style.display = "-webkit-inline-box";
	document.querySelector("video").style.display = "-webkit-inline-box";
	// start scanner
	if(scanner.streamIsNull()){
		startCameraButton.click();
	}	
});


let search_for_user = document.querySelector("#search_for_user");
search_for_user.addEventListener("click", (ev) => {
	hideScanner();

	loadUserList(document.querySelector("#search_root"), (id) => { 
		console.log(`USer search id: ${id}`);
		showPanel(document.querySelector("#root"), id);
	});
		
});




function hideScanner(){
	document.querySelector("#start").style.display = "none";
	document.querySelector("#stop").style.display = "none";
	document.querySelector("video").style.display = "none";
	console.log("Hiding Scanner");
	if(!scanner.streamIsNull()){
		scanner.close();
	}
}

</script>






{% endblock %}
