{% extends 'home/base.html'%}

{% load staticfiles %}
{% block title %}
Pay Membership
{% endblock %}

{% block body %}
<style type="text/css">
	.pdf_display{
		width: 67%;
		margin: 0 auto;
	}
</style>

<div class="row text-center">
	<div class="col-12">
		<h1>User Agreement</h1>
		<div id="embed" class="embed-responsive embed-responsive-16by9 pdf_display" style="width: 67%; margin: 0 auto;">
		  	<object id="pdf_display" type="application/pdf"></object>

		</div>
	</div>
</div>
<div class="row text-center">
	<div class="col-1"></div>
	<div class="col-10" name="signatureImg">
		<!-- <iframe src="" id="sigImg" style='width: 67%; display: none;'></iframe> -->
		<img id ="sigImg" style="width:100%;">
		
	</div>		
</div>
<div class="row">
	
    <div class="col-2 align-self-end" name="signaturepad">
		<h4 class="text-center">SIGNATURE</h4>
    </div>
	<div class="col-8" name="signaturepad">
		<canvas style="border-bottom: 3px solid black;"></canvas>
    </div>
    
</div>

<div class="row">
	<div class="col-12 text-center" name="signaturepad">
	    <button type="button" class="button btn btn-outline-danger" data-action="clear">Clear</button>
	    <button type="button" class="button save btn btn-outline-primary" data-action="save-png">Save as PNG</button>
	</div>
</div>

<div class="row" id="success"></div>


<script  src="{% static 'home/js/ajax_helper.js' %}"></script>


<script src="{% static 'home/js/signature_pad.js' %}" type='text/javascript'></script>


<script>
let userpk = {{userpk}};
let contractpk = {{contractpk}};
let signedContract = {{signContract}};

console.log(`userpk: ${userpk}`);
console.log(`contractpk: ${contractpk}`);
console.log(`signContract: ${signedContract}`);




var canvas = document.querySelector("canvas");
canvas.height = 150;
canvas.width = (window.innerWidth * .6);


window.onresize = () => {
	let canvas = document.querySelector("canvas")
	canvas.width = (window.innerWidth * .6);
};

// return list [folder, filename]
function splitMediaUrl(rawUrl){
	// /media/contractSignatures/ekildog_useragreement_0aJV9jO.png
	// rawUrl.split('/') ==> ['', media, contractSignatures, ekildog_useragreement_0aJV9jO.png]
	return rawUrl.split("/").slice(2);
}

function displayContract(contractUrl){
	cUrl = splitMediaUrl(contractUrl);
	if (cUrl.length > 1){
		cReq = `/get_image/${cUrl[0]}/${cUrl[1]}`;
		console.log(`Contract request: ${cReq}`);
		document.querySelector("#pdf_display").data = cReq;		
	}else{
		console.error(`Could not parse contract url: ${contractUrl}`);
	}

}


// Display signature: called if signContract == 0
// 1. User Contract displayed.

function displaySignature(userpk, contractpk){
	// Hide Signature pad buttons
	document.querySelectorAll("[name='signaturepad']").forEach((el)=>{
		el.hidden = true;
	});
	// Show
	document.querySelector("#sigImg").display = 'block';
	

	// get contract url from pk information
	getData(`/api/user_contract/user/${userpk}/document/${contractpk}/`)
	.then((data)=>{
		console.log(data);
		displayContract(data[0].contract);
		// /media/contractSignatures/ekildog_useragreement_0aJV9jO.png
		let sigUrl = splitMediaUrl(data[0].signature);
		if(sigUrl.length > 1){
			document.querySelector("#sigImg").src = `/get_image/${sigUrl[0]}/${sigUrl[1]}/`;
		}else{
			console.error(`Could not parse signature url: ${sigUrl}`);
		}
	});
}



function createSignaturePad(){
	// if creating the signature pad, display default contract
	getData(`/api/contract/${contractpk}/`)
	.then((data)=>{
		console.log(`Default contract data: ${data}`);
		console.log(data);
		displayContract(data.contract);
	});

	var signaturePad = new SignaturePad(canvas);

	signaturePad.on();

	document.querySelector("[data-action='clear']").addEventListener("click", (ev) => {
		signaturePad.clear();
	});

	document.querySelector("[data-action='save-png']").addEventListener("click", (ev) => {
		if(signaturePad.isEmpty()){
			alert("Need signature");
			ev.preventDefault();
		}else{
			console.log();
			let png = signaturePad.toDataURL();
			let userSignedContract = {
				"signature": png,
				"userpk" : userpk,
				"contractpk" : contractpk,
			};

			postData("/api/user_contract/", userSignedContract).then((data) => {
				console.log(data);
				document.querySelector('#embed').style.display = "none";
				document.querySelectorAll('[name="signaturepad"]').forEach( (el) =>{
					el.style.display = "none";

				} );

				document.querySelector('#success').innerHTML = `
					<div class="col-12 text-center">
						${data}
					</div>`;
			});
		}
	});	
}

if(signedContract == 0){
	displaySignature(userpk, contractpk);
}else{
	createSignaturePad();
}

</script>

{% endblock %}