{% extends 'home/base.html'%}
{% load staticfiles %}
{% block title %}
 User Documents
{% endblock %}

<!-- Search for clients or populate with client from another page -->
<!-- uses React Component user_panel_react::UserPanel -->

{% block body %}
	<style type="text/css">
		img{
			width: 50px;
			height: 50px;
		}
		.no-click{
			pointer-events:none;
		}
		.docuBtnOnFile{
			background-color: #23ce21;
		}
		.docuBtnNotOnFile{
			background-color: #ff3333;
		}
	</style>
	<div class="row text-center">
		<div class="col-6 offset-3">
			<div class="row">
				<div class="col-12 text-center" style="background-color: #FAFAFA;">
					<h2>Member Contracts</h2>
					<table class="table">
						<tr>
							<th style="background-color: #23ce21; border-radius: 8px 0 0 8px;">Contract on File</th>
							<th style="background-color: #ff3333; width:50%; border-radius: 0 8px 8px 0;">Needs contract</th>
						</tr>
					</table>
				</div>
			</div>

			<h1>Search</h1>
			<button id="get_users" class="btn btn-outline-primary"> Search Clients </button>
			<hr>

			<div id="contracts"></div>


			<!-- Root for user list -->
			<div id='root'></div>

		</div>
	</div>
	<hr/>
	<div class="row text-center">
		<div class="col-6 offset-3">
			<!-- Root for user panel -->
			<div id='root1'></div>
		</div>
	</div>


<script  src="{% static 'home/js/ajax_helper.js' %}"></script>

<script src="/lib/user_panel_react.js"></script>
<script src="/lib/user_list_react.js"></script>
<script src="/lib/user_contracts.js"></script>


<script>
// Load ShowUserPanel
//    shows user selected from list
getData(`/api/contract/`)
.then((data)=>{
	document.querySelector("#get_users").addEventListener("click", (ev)=>{
		// React componet, takes root node and callback when a user is selected
		//			returns user id that was clicked
		loadUserList(document.querySelector("#root"), (id)=>{
			console.log("Showing document for user with all docs as:");
			console.log(data);
			showUserDocuments(document.querySelector("#contracts"), data, id);
		});	
	});
});




</script>

{% endblock %}

